include *.md
include LICENSE
include setup.py
recursive-include yolov5/data *
recursive-include yolov5/models *
recursive-include yolov5/models_v5.0 *
recursive-include yolov5/utils/loggers *.py
include yolov5/requirements.txt
