include *.md
include LICENSE
include setup.py
recursive-include yolov5/data *
recursive-include yolov5/models *
recursive-include yolov5/classify *
recursive-include yolov5/segment *
recursive-include yolov5/utils *
include yolov5/requirements.txt
