<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static',filename='estilo.css') }}">
    <title>Login</title>
</head>

<body class = "container">
    <script src="{{ url_for('static',filename='funciones.js') }}"></script>
    <h1>Login Page</h1>

    <form method="POST" action="">
        <table class = "tabla">
            {{ form.hidden_tag() }}
            <tr>
                <td>Usuario:</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>Contraseña: </td>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td>{{ form.submit }}</td>
            </tr>
        </table>
    </form>
</body>

</html>