<div>

    <div class="fflex" style="align-items: stretch">
        <sly-card title="1. Input Project"
                  subtitle="This project will be used for training"
                  class="mr15"
                  style="width: 50%;">
            <sly-field title="" description="Project">
                <a slot="title" target="_blank"
                   :href="`/projects/${data.projectId}/datasets`">{{data.projectName}}</a>
                <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl}` }"/>
            </sly-field>
        </sly-card>
        <sly-card title="7. Training artifacts"
                  subtitle="Checkpoints, logs and other visualizations"
                  style="width: 50%">
            <div style="color: blue">Link to the directory with training artifacts will be here</div>
        </sly-card>
    </div>

    <sly-card class="mt15"
              title="2. Training classes"
              subtitle="Select classes, that should be used for training. Training supports only classes of shape
                        Rectangle, other shapes are transformed to it automatically.">
        <el-table
                class="ultra-table"
                :data="data.classes"
                style="width: 100%"
                max-height="500"
                @selection-change="
                (val) => {
                    state.selectedClasses = val.map(x => x.title);
                }
                "
        >
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column label="Name" prop="title" sortable>
                <template scope="scope">
                    <i class="zmdi zmdi-circle mr5" :style="{color: scope.row.color}"></i>
                    {{ scope.row.title }}
                </template>
            </el-table-column>
            <el-table-column prop="shape" label="Shape" sortable width="180"></el-table-column>
            <el-table-column prop="imagesCount" label="Images count" sortable width="150"></el-table-column>
            <el-table-column prop="objectsCount" label="Objects count" sortable width="180"></el-table-column>
        </el-table>
    </sly-card>

    <sly-card class="mt15"
              title="3. Train / Validation splits"
              subtitle="Define how to split your data to train/val subsets">
        <el-radio-group class="mb15" v-model="state.splitMethod">
            <el-radio :label="1">Random</el-radio>
            <el-radio :label="2" disabled>Based on image tags (not implemented yet)</el-radio>
            <el-radio :label="3">Train = Val</el-radio>
        </el-radio-group>

        <div v-show="state.splitMethod===1">
            <el-table :data="data.randomSplit">
                <el-table-column label="Info" width="180">
                    <template scope="scope">
                        <el-tag :type="scope.row.type">
                            <i v-if="scope.row.name !== 'total'" class="zmdi zmdi-tag mr5"></i>{{scope.row.name}}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="Number of images" width="180">
                    <template scope="scope">
                        <span style="margin-left: 10px">{{state.randomSplit.count[scope.row.name]}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="Percent of images">
                    <template scope="scope">
                        <div v-if="scope.row.name !== 'train'">
                            <span style="margin-left: 10px">{{state.randomSplit.percent[scope.row.name]}}%</span>
                        </div>

                        <el-slider v-if="scope.row.name === 'train'"
                                   v-model="state.randomSplit.percent.train"
                                   :disabled="state.randomSplit.sliderDisabled"
                                   show-input :min="1" :max="100"
                                   style="flex:1; max-width: 99%; margin-left: 15px;"
                                   @input="state.randomSplit.count.train = parseInt(data.totalImagesCount * state.randomSplit.percent.train / 100, 10);
                                           state.randomSplit.count.val = data.totalImagesCount - state.randomSplit.count.train;
                                           state.randomSplit.percent.val = 100 - state.randomSplit.percent.train"
                        ></el-slider>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div v-show="state.splitMethod===2">
            <sly-field title="Train tag" description="all images with this tag are considered as training set">
                <sly-select-tag
                        :project-id="data.projectId"
                        :tags.sync="state.trainTagName"
                        :options="{'showLabel': false}">
                </sly-select-tag>
            </sly-field>
            <sly-field title="Validation tag" description="all images with this tag are considered as validation set">
                <sly-select-tag
                        :project-id="data.projectId"
                        :tags.sync="state.valTagName"
                        :options="{'showLabel': false}">
                </sly-select-tag>
            </sly-field>
            <div style="color: blue">If image does not have such tags, it will be assigned to training set</div>
        </div>
        <div v-show="state.splitMethod===3">
            <span style="color: green">All images are in both training and validation sets</span>
        </div>
    </sly-card>

    <sly-card class="mt15"
              title="4. Model settings">
        <sly-field title="Model size" description="more params => better performace and slower inference time">
            <el-select v-model="state.modelSize"
                       style="width:250px;"
                       @change="() => state.pretrainedWeights = `${state.modelSize}.pt`">
                <el-option
                        v-for="item in data.modelSizes"
                        :key="item.label"
                        :label="`${item.label} (${item.params} params)`"
                        :value="item.label">
                </el-option>
            </el-select>
        </sly-field>
        <sly-field title="Weights initialization" description="Define how model is initialized before training">
            <el-radio-group class="mb15" v-model="state.modelWeightsOptions">
                <el-radio :label="1">Pretrained on COCO</el-radio>
                <el-radio :label="2">Your custom model</el-radio>
                <el-radio :label="3">Random (not recommended)</el-radio>
            </el-radio-group>
            <div v-show="state.modelWeightsOptions === 1">
                <el-input v-model="state.pretrainedWeights" :disabled="true" style="width:250px;"></el-input>
            </div>
            <div v-show="state.modelWeightsOptions === 2">
                <el-input v-model="state.weightsPath" placeholder="Path to .pt file in Team Files"></el-input>
            </div>
        </sly-field>
    </sly-card>

    <sly-card class="mt15"
              title="5. Traning hyperparameters">
        <sly-field title="Number of epochs">
            <el-input-number v-model="state.epochs" :min="1" :max="10000"></el-input-number>
        </sly-field>
        <sly-field title="Batch size"
                   description="total batch size for all GPUs. Use the largest batch size your GPU allows.
                                For example: 16 / 24 / 40 / 64 (batch sizes shown for 16 GB devices)">
            <el-input-number v-model="state.batchSize" :min="6"></el-input-number>
        </sly-field>
        <sly-field title="Input image size (in pixels)"
                   description="Image is resized to square">
            <el-input-number v-model="state.imgSize" :min="64"></el-input-number>
        </sly-field>
        <sly-field title="Multi-scale"
                   description="Vary image size +/- 50%">
            <el-checkbox v-model="state.multiScale">Multi-scale</el-checkbox>
        </sly-field>
        <sly-field title="Single class"
                   description="Train multi-class data as single-class (merge all classes to a single one)">
            <el-checkbox v-model="state.singleClass">Single class</el-checkbox>
        </sly-field>
        <sly-field title="Device"
                   description="Cuda device, i.e. 0 or 0,1,2,3 or cpu">
            <el-input v-model="state.device" style="width:250px;"></el-input>
        </sly-field>
    </sly-card>

    <sly-card class="mt15" title="6. Training progress">
        <el-button type="primary"
                   :disabled="state.selectedClasses.length === 0 ||
                              (state.modelWeightsOptions === 2 && state.weightsPath === '')
                             "
                   @click="command('train')">
            Start training
        </el-button>
        <div v-show="state.selectedClasses.length === 0" class="mt10" style="color: red">
            0 training classes are selected
        </div>
        <div v-show="state.modelWeightsOptions === 2 && state.weightsPath === ''" style="color: red">
            Path to model weights is not defined
        </div>
        <sly-logs class="mt15" :task-id="data.taskId"></sly-logs>
    </sly-card>
</div>