<div>

    <div class="fflex" style="align-items: stretch">
        <sly-card title="1. Input Project"
                  subtitle="This project will be used for training"
                  class="mr15"
                  style="width: 50%;">
            <sly-field title="" description="Project">
                <a slot="title" target="_blank"
                   :href="`/projects/${data.projectId}/datasets`">{{data.projectName}}</a>
                <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl}` }"/>
            </sly-field>
        </sly-card>
        <sly-card title="7. Training artifacts"
                  subtitle="Checkpoints, logs and other visualizations"
                  style="width: 50%">
            <div style="color: #20a0ff" v-if="data.outputUrl.length === 0">
                Link to the directory with training artifacts will be here
            </div>

            <sly-field v-if="data.outputUrl.length > 0"
                       title="Training artifacts"
                       description="Training artifacts has been uploaded to Team Files">
                <a slot="title" target="_blank" :href="`${data.outputUrl}`">{{data.outputName}}</a>
                <sly-icon slot="icon" :options="{ color: '#33c94c', bgColor: '#d9f7e4', rounded: false }">
                    <i class="zmdi zmdi-receipt"></i>
                </sly-icon>
            </sly-field>
        </sly-card>
    </div>

    <sly-card class="mt15"
              title="2. Training classes"
              subtitle="Select classes, that should be used for training. Training supports only classes of shape
                        Rectangle, other shapes are transformed to it automatically.">
        <el-table
                class="ultra-table"
                :data="data.classes"
                style="width: 100%"
                max-height="500"
                @selection-change="
                (val) => {
                    state.selectedClasses = val.map(x => x.title);
                }
                "
        >
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column label="Name" prop="title" sortable>
                <template scope="scope">
                    <i class="zmdi zmdi-circle mr5" :style="{color: scope.row.color}"></i>
                    {{ scope.row.title }}
                </template>
            </el-table-column>
            <el-table-column prop="shape" label="Shape" sortable width="180"></el-table-column>
            <el-table-column prop="imagesCount" label="Images count" sortable width="150"></el-table-column>
            <el-table-column prop="objectsCount" label="Objects count" sortable width="180"></el-table-column>
        </el-table>
    </sly-card>

    <sly-card class="mt15"
              title="3. Train / Validation splits"
              subtitle="Define how to split your data to train/val subsets">
        <el-radio-group class="mb15" v-model="state.splitMethod">
            <el-radio :label="1">Random</el-radio>
            <el-radio :label="2" disabled>Based on image tags (not implemented yet)</el-radio>
            <el-radio :label="3" disabled>Train = Val (not implemented yet)</el-radio>
        </el-radio-group>

        <div v-show="state.splitMethod===1">
            <el-table :data="data.randomSplit">
                <el-table-column label="Info" width="180">
                    <template scope="scope">
                        <el-tag :type="scope.row.type">
                            <i v-if="scope.row.name !== 'total'" class="zmdi zmdi-tag mr5"></i>{{scope.row.name}}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="Number of images" width="180">
                    <template scope="scope">
                        <span style="margin-left: 10px">{{state.randomSplit.count[scope.row.name]}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="Percent of images">
                    <template scope="scope">
                        <div v-if="scope.row.name !== 'train'">
                            <span style="margin-left: 10px">{{state.randomSplit.percent[scope.row.name]}}%</span>
                        </div>

                        <el-slider v-if="scope.row.name === 'train'"
                                   v-model="state.randomSplit.percent.train"
                                   :disabled="state.randomSplit.sliderDisabled"
                                   show-input :min="1" :max="100"
                                   style="flex:1; max-width: 99%; margin-left: 15px;"
                                   @input="state.randomSplit.count.train = parseInt(data.totalImagesCount * state.randomSplit.percent.train / 100, 10);
                                           state.randomSplit.count.val = data.totalImagesCount - state.randomSplit.count.train;
                                           state.randomSplit.percent.val = 100 - state.randomSplit.percent.train"
                        ></el-slider>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div v-show="state.splitMethod===2">
            <sly-field title="Train tag" description="all images with this tag are considered as training set">
                <sly-select-tag
                        :project-id="data.projectId"
                        :tags.sync="state.trainTagName"
                        :options="{'showLabel': false}">
                </sly-select-tag>
            </sly-field>
            <sly-field title="Validation tag" description="all images with this tag are considered as validation set">
                <sly-select-tag
                        :project-id="data.projectId"
                        :tags.sync="state.valTagName"
                        :options="{'showLabel': false}">
                </sly-select-tag>
            </sly-field>
            <div>If image does not have such tags, it will be assigned to training set</div>
        </div>
        <div v-show="state.splitMethod===3">
            <span style="color: green">All images are in both training and validation sets</span>
        </div>
    </sly-card>

    <sly-card class="mt15"
              title="4. Model settings">
        <sly-field title="Weights initialization" description="Define how model is initialized before training">
            <el-radio-group class="mb15" v-model="state.modelWeightsOptions">
                <el-radio :label="1">Pretrained on COCO</el-radio>
                <el-radio :label="2">From custom model</el-radio>
                <el-radio :label="3" :disabled="true">Resume training (not implemented yet)</el-radio>
                <!--<el-radio :label="3">Random (not recommended)</el-radio>-->
            </el-radio-group>
            <div v-show="state.modelWeightsOptions === 1">
                <sly-field title="Model size" description="more params => better performance and slower inference time">
                    <el-select v-model="state.modelSize"
                               style="width:250px;"
                               @change="() => state.pretrainedWeights = `${state.modelSize}.pt`">
                        <el-option
                                v-for="item in data.modelSizes"
                                :key="item.label"
                                :label="`${item.label} (${item.params} params)`"
                                :value="item.label">
                        </el-option>
                    </el-select>
                </sly-field>
                <!--<el-input v-model="state.pretrainedWeights" :disabled="true" style="width:250px;"></el-input>-->
            </div>
            <div v-show="state.modelWeightsOptions === 2">
                <sly-field title="Path to file" description="Copy path in Team Files">
                    <el-input v-model="state.weightsPath" placeholder="Path to .pt file in Team Files"></el-input>
                </sly-field>
            </div>
        </sly-field>
    </sly-card>

    <sly-card class="mt15"
              title="5. Traning hyperparameters">
        <el-tabs v-model="state.activeTabName">
            <el-tab-pane label="General" name="General">
                <sly-field title="Number of epochs">
                    <el-input-number v-model="state.epochs" :min="1" :max="10000"></el-input-number>
                </sly-field>
                <sly-field title="Batch size"
                           description="total batch size for all GPUs. Use the largest batch size your GPU allows.
                                For example: 16 / 24 / 40 / 64 (batch sizes shown for 16 GB devices)">
                    <el-input-number v-model="state.batchSize" :min="6"></el-input-number>
                </sly-field>
                <sly-field title="Input image size (in pixels)"
                           description="Image is resized to square">
                    <el-input-number v-model="state.imgSize" :min="64"></el-input-number>
                </sly-field>
                <sly-field title="Multi-scale"
                           description="Vary image size +/- 50%">
                    <el-checkbox v-model="state.multiScale">Multi-scale</el-checkbox>
                </sly-field>
                <sly-field title="Single class"
                           description="Train multi-class data as single-class (merge all classes to a single one)">
                    <el-checkbox v-model="state.singleClass">Single class</el-checkbox>
                </sly-field>
                <sly-field title="Device"
                           description="Cuda device, i.e. 0 or 0,1,2,3 or cpu, or keep empty to select automatically">
                    <el-input v-model="state.device" style="width:250px;"></el-input>
                </sly-field>
                <sly-field title="Number of workers"
                           description="Maximum number of dataloader workers, use 0 for debug">
                    <el-input-number v-model="state.workers" :min="0"></el-input-number>
                </sly-field>
            </el-tab-pane>
            <el-tab-pane label="Advanced" name="Advanced">
                <div class="fflex">
                    <div class="mr15">Training hyperparameters templates:</div>
                    <el-radio-group v-model="state.hypRadio">
                        <el-radio label="scratch">scratch</el-radio>
                        <el-radio label="finetune">finetune</el-radio>
                    </el-radio-group>
                    <el-button class="ml15" type="default" size="small" @click="command('restore_hyp')">Restore
                        Defaults
                    </el-button>
                </div>
                <div class="mb15">Edit settings in YAML format:</div>
                <sly-editor v-model="state.hyp[state.hypRadio]"
                            :options="{height: '565px', mode: 'ace/mode/yaml'}"></sly-editor>
            </el-tab-pane>
        </el-tabs>
    </sly-card>

    <sly-card class="mt15" title="6. Training progress">
        <el-button type="primary"
                   :disabled="state.selectedClasses.length === 0 ||
                              (state.modelWeightsOptions === 2 && state.weightsPath === '') ||
                              state.started === true"
                   @click="state.started = true; command('train')">
            Start training
        </el-button>
        <div v-show="state.selectedClasses.length === 0" class="mt10" style="color: red">
            0 training classes are selected
        </div>
        <div v-show="state.modelWeightsOptions === 2 && state.weightsPath === ''" style="color: red">
            Path to model weights is not defined
        </div>

        <div v-if="data.progressName.length > 0" class="mt10">
            <div style="color: #20a0ff">{{data.progressName}}: {{data.currentProgressLabel}} /
                {{data.totalProgressLabel}}
            </div>
            <el-progress :percentage="Math.round(data.currentProgress * 100 / data.totalProgress)"></el-progress>
        </div>

        <sly-field v-if="data.outputUrl.length > 0"
                   title="Training artifacts"
                   description="Training artifacts has been uploaded to Team Files">
            <a slot="title" target="_blank" :href="`${data.outputUrl}`">{{data.outputName}}</a>
            <sly-icon slot="icon" :options="{ color: '#33c94c', bgColor: '#d9f7e4', rounded: false }">
                <i class="zmdi zmdi-receipt"></i>
            </sly-icon>
        </sly-field>

        <el-collapse class="mt15" v-model="state.activeNames">
            <el-collapse-item title="Logs" name="logs">
                <sly-logs class="mt15" :task-id="data.taskId"></sly-logs>
            </el-collapse-item>
            <el-collapse-item title="Labels stats visualization" name="labels">
                <sly-grid-gallery v-show="data.labelsVis.content.layout.length > 0"
                                  :content="data.labelsVis.content"
                                  style="width:100%;"
                                  :options="{enableZoom: false, syncViews: false, showPreview: true, selectable: true}"
                >
                    <template v-slot:card-footer="{ annotation }">
                        <div style="color: #20a0ff">{{annotation.name}}</div>
                    </template>
                </sly-grid-gallery>
            </el-collapse-item>
            <el-collapse-item title="Train batches visualization" name="train">
                <sly-grid-gallery v-show="data.vis.content.layout.length > 0"
                                  :content="data.vis.content"
                                  style="width:100%;"
                                  :options="{enableZoom: false, syncViews: false, showPreview: true, selectable: true}"
                >
                    <template v-slot:card-footer="{ annotation }">
                        <div style="color: #20a0ff">{{annotation.name}}</div>
                    </template>
                </sly-grid-gallery>
            </el-collapse-item>
            <el-collapse-item title="Metrics" name="metrics">
                <div class="fflex" v-if="state.activeNames.includes('metrics')">
                    <sly-line-chart
                            style="width: 33%;"
                            :options.sync="data.mBox.options"
                            :content="data.mBox.series">
                    </sly-line-chart>
                    <sly-line-chart
                            style="width: 33%;"
                            :options.sync="data.mObjectness.options"
                            :content="data.mObjectness.series">
                    </sly-line-chart>
                    <sly-line-chart
                            style="width: 33%;"
                            :options.sync="data.mClassification.options"
                            :content="data.mClassification.series">
                    </sly-line-chart>
                </div>
                <div class="fflex mt15" v-if="state.activeNames.includes('metrics')">
                    <sly-line-chart
                            style="width: 33%;"
                            :options.sync="data.mPR.options"
                            :content="data.mPR.series">
                    </sly-line-chart>
                    <sly-line-chart
                            style="width: 33%;"
                            :options.sync="data.mMAP.options"
                            :content="data.mMAP.series">
                    </sly-line-chart>
                    <div style="width: 33%;"></div>
                </div>
            </el-collapse-item>
            <el-collapse-item title="Predictions visualization" name="pred">
                <sly-grid-gallery v-show="data.predVis.content.layout.length > 0"
                                  :content="data.predVis.content"
                                  style="width:100%;"
                                  :options="{enableZoom: true, syncViews: true, showPreview: true, selectable: false,
                                  syncViewsBindings:data.syncBindings}"
                >
                    <template v-slot:card-footer="{ annotation }">
                        <div style="color: #20a0ff">{{annotation.name}}</div>
                    </template>
                </sly-grid-gallery>
            </el-collapse-item>
        </el-collapse>
    </sly-card>

</div>