pip==18.1
Flask==1.0.2
pandas==0.23.4
xlrd==1.2.0
gunicorn==19.9.0
Cython==0.29.21
numpy==1.17.0
opencv-python==4.3.0.38
torch==1.5.1
matplotlib==3.2.2
pillow
tensorboard
PyYAML>=5.3
torchvision==0.6.1
scipy==1.5.1
tqdm